flask
pandas     #(version 1.0.0)
plotly     #(version 4.5.4) pip install plotly==4.5.4
dash             #(version 1.9.1) pip install dash==1.9.1
dash_table
dash_core_components 
dash_html_components 
dash.dependencies 
werkzeug